@import '/src/assets/scss/1-base/variables';

.container {
    min-height: calc(100vh - 117.2px);
    padding: 0px !important;
    position: relative;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10rem;

    &__chat {
        align-self: stretch;
    }
}

.form {
    background-color: $white;
    position: fixed;
    bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem 1rem;

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem !important;
        height: 3.286rem;
    }

    &__loader {
        border-color: $purple--one $purple--one $purple--one $white !important;
        position: static !important;
    }
}