.badge-container {
    position: relative;

    & .badge {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        top: -13px;
        right: -13px;
        background: $gradient-background;
        color: $white--two;
    }
}