/*=============================================
=            breadcrumb            =
=============================================*/

.breadcrumb-area {
  &__wrapper {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-title {
    font-size: 20px;
    font-weight: 700;
    color: $black--eight;
    align-self: center;
  }

  .icon {
    color: $black--eight;
    cursor: pointer;
  }

  .icon_placeholder {
    width: 2rem;
    height: 2.286rem;
  }
}


/*=====  End of breadcrumb  ======*/