.img {
    &.br-5 {
        border-radius: 5px;
    }

    &.br-10 {
        border-radius: 10px;
    }

    &.br-15 {
        border-radius: 15px;
    }

    &__circle {
        border-radius: 50%;
    }
}