@import '/src/assets/scss/1-base/variables';

.container {
    display: flex;
    align-items: center;
    gap: 1.071rem;

    &__text_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    &__button {
        display: flex;
        height: 1rem;
        color: $purple--one;
        align-items: center;
        gap: 0.3rem;
    }

    &__text {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 !important;
    }

    &__counter {
        margin: 0 !important;
        font-size: 1.3rem;
    }

    &__icon {
        font-size: 1.3rem;
    }
}